<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAz1Kx-hzlskPQmnTkRa5mUHWcS04F6big</string>
	<key>GCM_SENDER_ID</key>
	<string>662142539680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.al3qed.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>contrat-77651</string>
	<key>STORAGE_BUCKET</key>
	<string>contrat-77651.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662142539680:ios:56bdd1bb1851b2e29cf6c5</string>
</dict>
</plist>